ul {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  opacity: 0.8;
  padding: 0 1rem 0 0;
}

li:last-child {
  padding-right: 0;
}

.container .post-title a,
.container h1 {
  color: #90a959;
}

.masthead-title a {
  color: #90a959;
}

.sidebar {
  background-color: #90a959;
}

.sidebar div:last-child {
  position: absolute;
  bottom: 0;
}

.sidebar-item {
  padding: 1.25rem 1rem;
}

.sidebar-container {
  padding: 0%;
  display: block;
  margin: 0 auto;
  width: 80%;
  position: relative;
  overflow: auto;
}

.sidebar-toggle {
  color: #90a959;
}

.sidebar-toggle:active,
#sidebar-checkbox:focus ~ .sidebar-toggle,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #90a959;
}

.post a {
  color: #90a959;
}

.related-posts li a {
  color: rgb(144, 169, 89);
}

.related-posts li a:hover {
  color: rgba(50, 50, 50);
}

#copyright {
  padding-top: 0.25rem;
  font-size: 80%;
}
